{% extends "layout.html" %}

{% block title %}
    User Profile - {{user.username}}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12" style="text-align:center; padding-top: 15px;">
            <h1>{{user.username}}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12" style="text-align:center; padding-top: 15px;">
                <table>
                <tr>
                    <th>Books Reviewed</th>
                    <td>{{ user.booksreviewed }}</td>
                </tr>
                <tr>
                    <th>Last Login</th>
                    <td>{{ user.last_login }}</td>
                </tr>
                <tr>
                    <th>Account Made On</th>
                    <td>{{ user.created_on }}</td>
                </tr>
                </table>
            </div>
        </div>

{% endblock %}