small{
    font-weight: lighter;
    color: 	rgb(55.3, 56.9, 55.3);
}

.basicDesign{
    font-family: cursive;
}

.row{
    padding-h: 20px;
}

.user{
    color: red;
}

div.dialogBox{
    background-color: lightcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    margin: 30px;
    border-radius: 5px;
    text-align: center;
}
div.dialogBox > h4,label{
    text-align: left;
}

button.user
{
    padding: 10px 20px;
    color: rgb(136, 223, 255);
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    min-width: 100px;
    border-radius: 5px;
}

button.user:hover {
    color: rgb(77, 206, 253);
    box-shadow: 0 5px 15px rgb(25, 255, 255);
  }

header{
    background: rgba(6, 6, 128, 0.651);
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 8px;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 5px;
}

a{
    font-size: large;
    color: white;
}

table{
    border-style: groove;
    width: 60%;
    max-width: 800px;
    background-color:  whitesmoke;
}
td{
    border-style: groove;
   
}
th{
    border-style: ridge;
    padding: 25px;
    text-align: left;
    color: burlywood;
    background-color:rgba(6, 6, 128, 0.651);
}

ul.reviews{
    display: inline-block;
    margin-left: 25px;
    padding-bottom: 25px;
    font-size: large;
     list-style:none;
}

ul.reviews >li {
  padding-left: 1em; 
  text-indent: -.7em;
  font-weight: bold;
}

ul.reviews >p{
    margin-left: 2em;
    color: rebeccapurple;
  }

ul.reviews>li::before {
  content: "• ";
  font-weight: bolder;
  color: red; /* or whatever color you prefer */
}